@import "tailwindcss";
@layer tailwind-base, primereact, tailwind-utilities;
@import "primereact/resources/themes/lara-light-blue/theme.css" layer(primereact);
@import "primeicons/primeicons.css";

@custom-variant dark (&:where(.dark, .dark *));


@font-face {  
  font-family: berthold;  
  font-style: normal;  
  font-weight: 400;
  font-display: swap;  
  src: url("/fonts/BertholdScriptRegular.otf") format("opentype");
}

@theme {  
  --color-charcoal: #4c4d4d;
  --color-maize: #f5df4e; 
  --color-dark-slate:#212529;
  --color-cream:#EBE6DB; 
  --color-indigo:#2C395B; 
  --color-dark-cream:#3b2b7d; 
  --color-dark-indigo:#C7D2F5; 
  --color-reddish-brown:#94745e; 
  --color-text-dark:#E0E0E0;
  --color-muted-dark:#999999;
  --color-surface-dark:#2A2A2A;
  --color-border-dark:#3F3F3F;
}